.pet {
    background-color: #ffffff;
    height: 250;
}

.pet-header {
    background-color: #F5F6F5;
    padding: 15 20;
    font-size: 20;
}

.pet-info {
    font-size: 18;
    margin: 10 15;
}

.pet-info-label {
    horizontal-align: left;
    color: #929292;
}

.pet-info-value {
    horizontal-align: right;
}

.description {
    text-align: center;
}

.description-label{
    horizontal-align: center;
    color: #929292;
}